// Category with image
@use '../@config/index';

.category-with-image {
    background-color: #F1F1F1;
    padding-bottom: 95px !important;

    // Inner
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: calc( index.$lh * 2 );

        @include index.l {
            gap: calc( index.$lh * 3 );
        }

    }

    // Wrapper images
    &__wrapper-images {
        position: relative;
        width: 260px;
        height:  347px;

        @include index.m {
            width: 400px;
            height: 535px;
        }

        @include index.l {
            width: 360px;
            height: 481px;
        }

        @include index.xl {
            width: 400px;
            height: 534px;
        }

        @include index.xxl {
            width: 410px;
            height: 547px;
        }

    }

    // List
    &__wrapper-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: index.$lh;

        @include index.xl {
            gap: index.$lh;

        }
    }

    // Text
    &__text {
        display: inline-block;
        font-size: 14px;
        line-height: 18px;
        transition: color .3s ease;
        cursor: default;

        @include index.l {
            font-size: 14px;
            line-height: 18px;
        }

        @include index.xxl {
            font-size: 16px;
            line-height: 22px;
        }

        &:hover {
            color: #ACACB1;
        }

    }

    // Image link
    &__image-link {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        font-size: 0;
        line-height: 1;
        opacity: 0;
        transition: opacity .3s ease;

        &.active {
            z-index: 9;
            opacity: 1;
        }

    }

    // Image
    &__image {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        object-position: center;
        
    }


}