// Cookies
.cky-btn-customize,
.cky-btn-reject,
.cky-btn-accept {
    padding: 2px 8px !important;
    border-width: 1px !important;
}

.cky-consent-container .cky-consent-bar,
.cky-modal {
    border-radius: 0 !important;
}

.cky-title {
    font-weight: normal !important;
}