// FAQ
@use '../@config/index';

.faq {
    min-height: 60vh;

    // Inner
    &__inner {
        display: flex;
        flex-direction: column;
        gap: index.$lh;
    }

    // Title
    &__title {
        font-family: index.$font-primary-light;
        font-weight: normal;
        font-size: 16px;
        line-height: 1;
        margin-bottom: calc( index.$lh / 1.4 );

        @include index.l {
            position: sticky;
            top: 20px;
            left: 0;
            font-size: 18px;
        }

        @include index.xl {
            font-size: 21px;
        }
    }

    // Wrapper accordion
    &__wrapper-accordion {
        display: flex;
        flex-direction: column;
        gap: calc( index.$lh / 2 );
        
        @include index.l {
            width: 75%;
            margin: 0 auto;
        }

    }

    // Accordion item
    &__accordion-item {
        border-bottom: solid 1px #A4A49C;
        padding-bottom: calc( index.$lh / 2 );

        &:first-child {
            padding-top: calc( index.$lh / 2 );
            border-top: solid 1px #A4A49C;
        }
    }

    // Accordion title
    &__accordion-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc( index.$lh / 2 );
        cursor: pointer;
    }

    &__accordion-span-title {
        font-family: index.$font-primary-light;
        font-weight: normal;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;

        @include index.l {
            position: sticky;
            top: 20px;
            left: 0;
            font-size: 15px;
        }

        @include index.xl {
            font-size: 1px;
        }
    }

    // Plus minus icon
    &__plus-minus-toggle {
        display: inline-block;
        cursor: pointer;
        width: 10px;
        height: 10px;
        position: relative;

        &:before,
        &:after {
            background: #463f3f;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            top: 7px;
            width: 10px;
            transition: transform 500ms ease;
        }

        &:after {
            transform-origin: center;
        }

        &.collapsed {
            &:after {
                transform: rotate(90deg);
            }

            &:before {
                transform: rotate(180deg);
            }
        }
    }

    // Accordion content
    &__accordion-content {
        margin-top: index.$lh;
        padding-bottom: calc( index.$lh / 2 );

        p, ul {
            margin-bottom: calc( index.$lh / 2 );
        }

        ul {
            margin-left: 10px;
        }

        li {
            &::marker {
                content: '- ';
            }
        }

        a {
            display: inline-block;
            // font-family: index.$font-primary-medium;
            // font-weight: normal;
            position: relative;
            text-decoration: none;

            &:hover {
                color: #ACACB1;
            }

            &::before {
                content: '';
                position: absolute;
                top: 16px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #838383;
    
                @include index.l {
                    top: 18px;
                }
            }

        }

    }


}