// Footer
@use '../@config/index';

.footer {
    background-color: index.$white;

    // Inner
    &__inner {
        display: flex;
        flex-direction: column;
        gap: index.$lh;
        padding: 26px 0;

        @include index.l {
            display: grid;
            grid-template-columns: 1fr auto auto;
            column-gap: calc( index.$lh * 1.5 );
            padding: 50px 0;
        }

        @include index.xl {
            column-gap: calc( index.$lh * 2 );
        }

        @include index.xxl {
            column-gap: calc( index.$lh * 2.5 );
        }

    }

    // Logo
    &__wrapper-logo {
        display: none;

        @include index.l {
            display: block;
        }

    }

}