// Footer
@use '../@config/index';

.footer {
    background-color: index.$white;

    // Inner
    &__inner {
        display: flex;
        flex-direction: column;
        gap: index.$lh;
        padding: 26px 0;

        @include index.l {
            display: grid;
            grid-template-columns: 1fr auto auto;
            column-gap: calc( index.$lh * 1.5 );
        }

        @include index.xl {
            column-gap: calc( index.$lh * 2 );
        }

        @include index.xxl {
            column-gap: calc( index.$lh * 2.5 );
        }

    }

    // Logo
    &__wrapper-logo {
        display: none;

        @include index.l {
            display: block;
        }

    }

    // Subscribe form & social
    &__wrapper-form-and-social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // Footer bottom
    &__footer-bottom {
        border-top: solid 1px #969696;
        padding: calc( index.$lh / 1.5 ) 0;
    }

    // Footer bottom text
    &__copyright {
        color: #969696;
        font-size: 11px;
        line-height: 1;

        @include index.l {
            font-size: 12px;
        }

    }

}