// Full image linked
@use '../@config/index';

.full-image-linked {
    background-color: index.$white;

    // Inner
    &__inner {
        position: relative;
    }

    // Wrapper image
    &__wrapper-image {
        height: calc( 95dvh - 37px );
        position: relative;
        overflow: hidden;

        @include index.l {
            height: calc( 95dvh - 52px );
        }

    }

    // Picture
    &__picture {
        width: 100%;
        height: 100%;
        // position: absolute;
        // top: -300px;
        // left: 50%;
        // transform: translateX(-50%);
        // will-change: transform;

        // @include index.l {
        //     top: -400px;
        // }

        // @include index.xl {
        //     top: -450px;    
        // }

        // @include index.xxl {
        //     top: -500px;
        // }

      }
      
    // Image
    &__image {
        width: 100%;
        height: auto;
        display: block;
    }

    // Link
    &__link {
        display: block;
    }

    // Wrapper content
    &__wrapper-content {
        position: absolute;
        bottom: 52px;
        left: 50%;
        transform: translateX( -50% );
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;

        @include index.l {
            bottom: 62px;
            gap: 12px;
        }

    }

    // Title
    &__title {
        color: index.$white;
        font-family: index.$font-primary-light;
        font-size: 18px;
        line-height: 22px;
        white-space: nowrap;
        text-align: center;

        @include index.l {
            font-size: 19px;
            line-height: 23px;
            white-space: normal;
        }

        @include index.xl {
            font-size: 22px;
            line-height: 26px;
        }

    }

    // Link button
    &__link-button {
        display: inline-block;
        color: index.$white;
        font-family: index.$font-primary-light;
        font-size: 14px;
        line-height: 20px;
        transition: color .3s ease;
        position: relative;

        @include index.l {
            font-size: 15px;
            line-height: 21px;
        }

        @include index.xl {
            font-size: 16px;
            line-height: 22px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 18px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #b6b6b6;

            @include index.l {
                top: 20px;
            }

        }


        &:hover {
            color: #ACACB1;
        }

    }
    
}