// Images on scroll
@use '../@config/index';

.images-on-scroll {
    background-color: index.$white;
   
    // Inner
    &__inner {
        position: relative;
        height: 200vh; /* So that there is enough scroll */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @include index.l {
            height: 330vh;
        }

        @include index.xl {
            height: 295vh;
        }

        @include index.xxl {
            height: 360vh;
        }

    }

    // Wrapper image
    &__wrapper-image {
        position: absolute;
        font-size: 0;
        line-height: 1;

        &:nth-child( 1n ) {
            .images-on-scroll__image {
                max-width: 250px;

                @include index.l {
                    max-width: 500px;
                }

                @include index.xl {
                    max-width: 550px;
                }

                @include index.xxl {
                    max-width: 100%;
                }

            }
        }

        &:nth-child( 2n ) {
            .images-on-scroll__image {
                max-width: 175px;

                @include index.l {
                    max-width: 420px;
                }

                @include index.xl {
                    max-width: 450px;
                }

                @include index.xxl {
                    max-width: 80%;
                }

            }
        }

        &:nth-child( 3n ) {
            .images-on-scroll__image {
                max-width: 300px;

                @include index.l {
                    max-width: 650px;
                }

                @include index.xl {
                    max-width: 700px;
                }

                @include index.xxl {
                    width: 110%;
                    max-width: none;
                }

            }    
        }

    }

}