// Our collections slider
@use '../@config/index';

.our-collections-slider {
    background-color: index.$white;
    padding-bottom: calc( index.$lh * 1.5 );
    padding-bottom: 0;

    @include index.l {
        padding-bottom: calc( index.$lh * 2 );        
    }

    // Swiper
    &__swiper {
        margin-right: -31px;
    }

    // Content
    &__content-slider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: index.$lh;
        padding-bottom: calc( index.$lh / 1.5 );
    }

    // Title
    &__title {
        font-family: index.$font-primary-light;
    }

    // Wrapper buttons
    &__wrapper-buttons {
        display: flex;
        align-items: center;
        gap: index.$lh;
    }

    // Prev button
    &__prev-button {
        display: none;
        transition: transform .3s ease;

        &:hover {
            transform: translateX( -7px );
        }
    }

     // Next button
     &__next-button {
        transition: transform .3s ease;

        &:hover {
            transform: translateX( 7px );
        }
    }

}