// Related products
@use '../@config/index';

.related-products {
    padding-bottom: calc( index.$lh * 1.5 );

    @include index.l {
        padding-bottom: calc( index.$lh * 2 );        
    }

    // Title
    &__title {
        font-family: index.$font-primary-light;
        font-weight: 300;
        margin-bottom: calc( index.$lh / 1.5 );
    }

    // Swiper
    &__swiper-wrapper {
        @include index.l {
            display: grid;
            grid-template-columns: repeat( 4, minmax( 0, 1fr ) );
            gap: 10px;
        }
    }

}