// Single product
@use '../@config/index';

.single-product {
    overflow: visible; // For sticky position on summary
    background-color: index.$soft-gray;

    .header,
    .footer,
    .wpcf7-form-control,
    .wrapper-submenu,
    .header__center,
    .header__center-inner {
        background-color: index.$soft-gray;
    }

    // .footer {
    //     border-top: solid 1px #969696;
    // }

    .our-collections-slider {
        background-color: index.$soft-gray;
        padding-bottom: calc( index.$lh * 1.5 );

        @include index.l {
            padding-bottom: calc( index.$lh * 2 );
        }

    }

}

.woocommerce-single {
    background-color: index.$soft-gray;
    position: relative;

     // Product main content
    &__product-main-content {
        padding-top: calc( index.$lh * .7 );
        padding-bottom: calc( index.$lh * 1.5 );
         
         @include index.l {
            display: grid;
            grid-template-columns: repeat( 3, minmax( 100px, 1fr ) );
            column-gap: index.$lh;
            padding-top: calc( index.$lh * 2 );
            padding-bottom: calc( index.$lh * 2 );
            align-items: flex-start;
        }

    }

    // Product images
    &__custom-product-gallery {
        @include index.l {
            grid-column: span 2;
        }
    }

    // Summary
    .summary {
        position: static;
        top: calc( index.$lh * 2.5 );
        display: flex;
        flex-direction: column;
        gap: calc( index.$lh / 1.5 );
        width: 100% !important;
        float: none !important;
        padding-top: calc( index.$lh / 1.5 );

        @include index.l {
            position: sticky;
            padding: 0 index.$lh;
            padding-top: calc( index.$lh * 2 );
        }

        @include index.xl {
            padding: 0 calc( index.$lh * 1.5 );
            padding-top: calc( index.$lh * 2.2 );
        }

        @include index.xxl {
            padding: 0 calc( index.$lh * 2 );
            padding-top: calc( index.$lh * 2.5 );
        }

    }

    // Title and price
    &__wrapper-title-and-price {
        display: flex;
        flex-wrap: wrap;
        gap: index.$lh;
        justify-content: space-between;
        align-items: center;
    }

    // Title
    .product_title {
        font-family: index.$font-primary-light;
        font-size: 18px;
        line-height: 1;

        @include index.l {
            font-size: 22px;
        }

        @include index.xl {
            font-size: 24px;
        }

    }

    // Price
    .price {

        .amount bdi {
            color: index.$text;
            font-size: 18px;
            line-height: 1;
            font-weight: 500;

            @include index.l {
                font-size: 17px;
            }

            @include index.xl {
                font-size: 18px;
            }
        }

        del {
            color: #B3B3B3 !important;
            
            .amount bdi {
                color: #B3B3B3 !important;
                font-size: 16px;
                line-height: 1;

                @include index.l {
                    font-size: 18px
                }

                @include index.xl {
                    font-size: 19px;
                }

            }
        }

        ins {
            text-decoration: none;

            .amount bdi {
                color: index.$text;
                font-size: 19px;
                line-height: 1;

                @include index.l {
                    font-size: 20px;
                }

                @include index.xl {
                    font-size: 22px;
                }
            }
        }

    }

    // Attributes
    .variations {
        tbody {
            display: flex;
            flex-direction: column;
            gap: index.$lh;
        }
    }

    &__variation-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

    }

    .variations label {
        font-family: index.$font-primary-light;
        font-weight: 300 !important;
        font-size: 14px !important;
        line-height: 19px !important;
        letter-spacing: 0 !important;
        text-transform: none;
        @include index.l {
            font-size: 15px !important;
            line-height: 21px !important;
        }
        @include index.xl {
            font-size: 15px !important;
            line-height: 21px !important;
        }
    }

    th.label {
        width: 100%;
        display: flex;
        gap: calc( index.$lh / 2 );
        justify-content: space-between;
    }

    &__custom-variation-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    &__variation-button {
        padding: 2px 8px;
        border: 1px solid index.$black;
        background: index.$soft-gray;
        cursor: pointer;
        transition: 0.3s;
    }

    &__variation-button {
        &:hover {
            color: index.$white;
            background: index.$black;
        }
        &.active {
            color: index.$white;
            background: index.$black;
            border-color: index.$black;
        }
    }

    // Variation price
    .woocommerce-variation-price {
        padding-bottom: calc( index.$lh / 2 );
    }

    // Reset variations
    .reset_variations {
        display: none !important;
    }

    // Size guide
    &__wrapper-attribute-button {
        button {
            color: #817F7F;
            text-decoration: underline;

            &:hover {
                color: index.$text;
            }

        }
    }

    // Short description
    .woocommerce-product-details__short-description {
        display: flex;
        flex-direction: column;
        gap: calc( index.$lh / 2 );
    }

    // Features

    &__wrapper-features {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__feature {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: calc( index.$lh / 3 );
    }

    &__feature-title {
        position: relative;
    }

    &__feature-title:before {
        content: '';
        position: absolute;
        top: 16px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #838383;

        @include index.l {
            top: 18px;
        }
    }

    // Wrapper quantity and add to cart
    &__wrapper-quantity-and-add-to-cart {
        display: flex;
        flex-wrap: wrap;
        gap: index.$lh;
        align-items: center;
    }

    // Quantity
    .quantity {
        // display: flex;
        display: none !important;
        background-color: index.$white;
        padding: 5px 5px;
        float: none !important;
        border: solid 1px #E6E6E6;

        .qty {
            width: 40px;
            background-color: index.$white;
            border: none;
            pointer-events: none;
        }

        input.qty[type='number']::-webkit-inner-spin-button, 
        input.qty[type='number']::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            margin: 0;
        }

        .minus {
            background-color: #F2F2F2;
            transition: background-color .2s ease;
            line-height: 1;
            padding: 4px 10px;
            

            &:hover {
                background-color: #DCDCDC;
            }

        }

        .plus {
            background-color: #F2F2F2;
            transition: background-color .2s ease;
            line-height: 1;
            padding: 4px 10px;
            

            &:hover {
                background-color: #DCDCDC;
            }
        }

    }

    // Add to cart
    .woocommerce-variation-add-to-cart {
        display: flex;
        gap: calc( index.$lh / 2);
        align-items: center;
    }

    .single_add_to_cart_button {
        width: 100% !important;
        height: 34px;
        color: index.$white !important;
        font-weight: 400 !important;
        padding: 6px index.$lh !important;
        background-color: index.$black !important;
        border-radius: 0 !important;
    
        &:hover {
            background-color: #4B4B4B !important;
        }
    
        @include index.m {
            // width: auto;
            padding: calc( index.$lh / 3 ) index.$lh * .8 !important;
        }
    
        @include index.l {
            // width: auto;
            padding: calc( index.$lh / 3 ) index.$lh * 1.4 !important;
        }

    }

    // Related products
    .related-products {
        @include index.l {
            grid-column: span 3;
        }

        &__swiper {
            margin-right: -10px;

            @include index.l {
                margin-right: 0px;
            }

        }

    }

    // Swiper
    &__swiper.swiper-container {
        width: 100%;
        height: auto;
    }

    &__swiper-slide.swiper-slide {
        overflow: visible !important;
    }

    &__swiper-zoom-container.swiper-zoom-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__swiper-slide.swiper-slide img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .woocommerce-single__swiper .swiper-pagination-progressbar {
        width: 94% !important;
        height: 2px !important;
        bottom: 16px !important;
        left: 50% !important;
        transform: translateX( -50% ) !important;
    }
    
    @media (min-width: 1024px) {
        &__swiper-wrapper.swiper-wrapper {
            display: grid;
            grid-template-columns: repeat( 2, minmax( 0, 1fr ) );
            gap: 10px;
        }
    
        &__swiper-slide.swiper-slide {
            width: 100% !important;
            display: flex;
            justify-content: center;
        }
    
        &__swiper .swiper-pagination,
        &__swiper .swiper-button-next,
        &__swiper .swiper-button-prev {
            display: none; /* Ocultar controles en desktop */
        }
    }

    &__swiper .swiper-pagination-progressbar {
        top: auto !important;
        bottom: 0 !important;
    }

    &__swiper .swiper-pagination-progressbar {
        top: auto !important;
        bottom: 0 !important;
    }

    &__swiper .swiper-pagination-progressbar-fill {
        background-color: index.$black;
    }

    // Our collection slider
    .our-collections-slider {

        &__swiper {
            margin-right: -13px;

            @include index.l {
                margin-right: -31px;
            }

        }
    }

    // Hide variation price next to add to cart button
    .woocommerce-variation .woocommerce-variation-price {
        display: none;
    }

    // Hide Woocommerce Notice 
    .woocommerce-notices-wrapper {
        display: none;
    }

}