// Two images section
@use '../@config/index';

.two-images-section {

     // Swiper
     &__swiper-wrapper {

        @include index.l {
            display: grid;
            overflow: hidden;
            max-height: calc( 100vh - 50px );
            grid-template-columns: repeat( 2, minmax( 0, 1fr ) );
            column-gap: calc( index.$lh / 2.5 );
        }
    }

}