// Menu footer
@use '../@config/index';

.menu-footer {

    // Nav
    &__nav {
        display: flex;
        flex-direction: column;
        
        @include index.l {
            flex-direction: row;
            gap: index.$lh;
            justify-content: space-between;
        }

        @include index.xl {
            gap: calc( index.$lh * 1.5 );
        }

        @include index.xxl {
            gap: calc( index.$lh * 2 );
        }

    }

    // Menu item
    .menu-item {
        position: relative;
        width: 100%;
        padding: calc( index.$lh / 2 ) 0;
        position: relative;

        @include index.l {
            width: auto;
            border-bottom: none;
            padding: calc( index.$lh / 7 ) 0;
        }

    }

    // First level
    &__has-child--first-level {
        width: 100%;
        display: inline-flex !important;
        gap: calc( index.$lh / 3 );
        justify-content: space-between;
        // padding-bottom: calc( index.$lh / 2.2 );

        &[data-title="Collections"] {
            padding-top: calc( index.$lh / 1.7 );
            border-top: solid 1px #A4A49C;

            @include index.l {
                padding-top: 0;
                border-top: none;
            }

        }

        @include index.l {
            width: auto;
            border-bottom: none;
            padding-bottom: calc( index.$lh / 2 );
        }

    }

    .menu-item-has-children {
        border-bottom: solid 1px #A4A49C;

        @include index.l {
            border-bottom: none;
        }

    }

    // Link
    &__link {
        display: block;
        color: index.$black;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        transition: color .3s ease;

        // &:after {
		// 	content: attr( data-title );
		// 	display: block;
		// 	position: absolute;
		// 	top: 110%;
		// 	transition: top .5s cubic-bezier(.86,0,.07,1) , color .5s cubic-bezier(.86,0,.07,1);
		// }

        // &:hover:after {
		// 	top: 8px;
		// 	color: index.$gray;

        //     @include index.l {
        //         top: 0;
        //     }

		// }

		&:hover .menu-footer__link-title {
            @include index.l {
                color: #ACACB1;
            }
		}
    }

    // Link title
    &__link-title {
        display: inline-block;
        transition: transform .5s cubic-bezier(.86,0,.07,1);
    }

    // Plus minus icon
    &__plus-minus-toggle {
        cursor: pointer;
        width: 10px;
        height: 10px;
        position: relative;

        @include index.l {
            display: none;
        }

        &:before,
        &:after {
            background: #3F3F46;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            top: 7px;
            width: 10px;
            transition: transform 500ms ease;
        }

        &:after {
            transform-origin: center;
        }

        &.collapsed {
            &:after {
                transform: rotate(90deg);
            }

            &:before {
                transform: rotate(180deg);
            }
        }
    }

    // Ul
    ul {
        margin: 0;
    }
    // Li
    li {
        list-style: none;
    }

    // No interaction
    .no-interaction {
        .menu-footer__has-child--first-level {
            @include index.l {
                pointer-events: none;
            }
        }
    }

}

.footer {
    &__submenu--first-level {
        .menu-item {
            
            padding: calc( index.$lh / 5 ) 0;
    
            @include index.l {
                padding: calc( index.$lh / 7 ) 0;
            }

            &:first-child {
                margin-top: 10px;

                @include index.l {
                    margin-top: 0;
                }

            }
    
        }
    }
}