// Menu
@use './../@config/index';

.menu {
    overflow: hidden;
    transition: transform .5s ease;

    @include index.l {
        display: block;
        position: static;
        height: auto;
    }

    &.active {
        transform: translateX(0);
    }

    // Inner
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // Wrapper
    &__wrapper {
        width: 100%;
    }

    // List
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    // Item
    &__item {
        margin-bottom: index.$lh;
    }

    // Link
    &__link {
        display: block;
        color: index.$black;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        transition: color .3s ease;

        // &:after {
		// 	content: attr( data-title );
		// 	display: block;
		// 	position: absolute;
		// 	top: 110%;
		// 	transition: top .5s cubic-bezier(.86,0,.07,1) , color .5s cubic-bezier(.86,0,.07,1);
		// }

        // &:hover:after {
		// 	top: 8px;
		// 	color: index.$gray;

        //     @include index.l {
        //         top: 0;
        //     }

		// }

		// &:hover .menu__link-title {
		// 	transform: translateY(-30px);
		// }

        &:hover {
            color: #ACACB1;
        }

        &:focus,
        &:focus-within,
        &:active {
            background-color: transparent;
        }


    }

    // Menu link title
    &__link-title {
        display: inline-block;
		transition: transform .5s cubic-bezier(.86,0,.07,1);
    }

    // Button
    &__button {
        width: 18px;
        height: 18px;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        transition: transform .5s ease;
    }

    // Navigation
    &__nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;

        @include index.l {
            flex-direction: row;
            align-items: center;
        }

        @include index.e {
            gap: index.$lh;
        }

        // Menu item
        .menu-item {
            width: 100%;
            padding: calc( index.$lh / 2 ) 0;
            border-bottom: solid 1px #A4A49C;
            // position: relative;

            @include index.l {
                width: auto;
                border-bottom: none;
                padding: calc( index.$lh / 3 ) 0;
            }

            // &::before {
            //     content: '';
            //     display: none;
            //     position: absolute;
            //     top: 8px;
            //     right: -7px;
            //     width: 5px;
            //     height: 5px;
            //     background-color: index.$black;
            //     border-radius: 100%;
            //     opacity: 0;
            //     transition: opacity .3s ease;
    
            //     @include index.l {
            //         display: block;
            //     }
    
            // }
    
            &.active::before {
                opacity: 1;
            }

        }
        
        // Link has child second level
        .submenu--first-level .menu__has-child {
            display: inline-flex;
            gap: calc( index.$lh / 3 );
            justify-content: space-between;
            width: 100%;
            // padding: calc( index.$lh / 3 ) 0;

            @include index.l {
                width: auto;
                border-bottom: none;
                padding: 0;
                padding-bottom: 22px;
            }
        }

        .submenu--first-level .menu-item-has-children {
            border-bottom: solid 1px #A4A49C !important;

            @include index.l {
                border-bottom: none !important;
            }

        }

    }


    // Plus minus icon
    &__plus-minus-toggle {
        cursor: pointer;
        width: 10px;
        height: 10px;
        position: relative;

        @include index.l {
            display: none;
        }

        &:before,
        &:after {
            background: #3F3F46;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            top: 7px;
            width: 10px;
            transition: transform 500ms ease;
        }

        &:after {
            transform-origin: center;
        }

        &.collapsed {
            &:after {
                transform: rotate(90deg);
            }

            &:before {
                transform: rotate(180deg);
            }
        }
    }

    // Submenu
    .wrapper-submenu {
        width: 100%;
        height: 100vh;
        background-color: index.$white;
        position: absolute;
        top: -250%;
        left: 0;
        transition: top .001s cubic-bezier(.86,0,.07,1);
        z-index: 9;
        overflow-y: auto;
        
        @include index.l {
            height: auto;
            left: 50%;
            transform: translateX( -50% );
            border-top: solid 1px #A4A49C;
            padding: index.$lh;
        }

        &.active {
            top: 30px;

            @include index.l {
                top: 57px;
            }

        }

    }

    .submenu {
        
        &--first-level {
            display: flex;
            flex-direction: column;
            gap: calc( index.$lh / 3 );
            width: calc(100% - 40px);
            margin: 0 auto;

            @include index.m {
                width: calc(100% - 52px);
            }

            @include index.l {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }

            @include index.xl {
                width: 100%;
            }
        }
        
        // Menu item submenu
        .menu-item {
            border-bottom: none;

            @include index.l {
                border-bottom: none;
            }

        }

        &--second-level {
            .menu-item {
                padding: 8px 0;

                @include index.l {
                    padding: 2px 0;
                }

            }
        }

    }

    // All collections
    &__all-collections {
        display: none;
        pointer-events: none;

        @include index.l {
            display: flex;
        }

    }

    // Back collections
    &__back-collections {
        display: flex;
        align-items: center;
        gap: calc( index.$lh / 3 );

        @include index.l {
            display: none;
        }

        a {
            color: index.$black;
            text-decoration: none;
            transition: color .3s ease;
        }

        a:hover {
            color: index.$gray;
        }
    }

    // Ul
    ul {
        margin: 0;
    }
    // Li
    li {
        list-style: none;
    }

    // Image placeholder
    &__wrapper-image-placeholder {
        display: none;

        @include index.l {
            display: block;
            max-width: 400px;
        }

        @include index.xl {
            max-width: 500px;
        }

    }

    &__image-placeholder {
        width: 100%;
    }
    
}

.logged-in {
    .wrapper-submenu {
        &.active {
            top: 30px;

            @include index.l {
                top: 89px;
            }

        }

    }

}