@use 'index';

* {
	box-sizing: border-box;
	// font-family: $matter;
	font-size: 14px;
	line-height: 22px;
	@include index.l {
		font-size: 15px;
		line-height: 23px;
	}
	@include index.xl {
		font-size: 18px;
		line-height: 26px;
	}
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	color: index.$text;
	// font-family: $matter;
	font-variant-ligatures: none;
	font-weight: 400;
	line-height: index.$lh;
	overflow: hidden;
	background: index.$soft-gray;
}

p,
ul {
	font-size: 14px;
	line-height: 22px;
	@include index.l {
		font-size: 15px;
		line-height: 23px;
	}	
	@include index.xl {
		font-size: 18px;
		line-height: 26px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

p a {
	text-decoration: underline;
	transition: color .3s ease;
	&:hover {
		color: index.$text;
	}
}

input:focus-visible {
	outline: none;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
// 	// font-family: $matter;
// }

pre {
	background: index.$white;
	color: index.$black;
	font-family: monospace;
}

em {
	font-style: italic;
}

ul {
	list-style: disc;
	margin-left: calc( index.$lh / 1.5 );
}

strong {
	font-weight: 700;
}

blockquote, q {
	font-style: italic;
	margin: calc( index.$lh / 2 ) 0 calc( index.$lh / 2 ) calc( index.$lh * 1.3 );
}
blockquote p:before,
q p:before {
	content: '“';
}

blockquote p:after,
q p:after {
	content: '”';
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

::selection {
	color: index.$white;
	background: index.$text;
	
}

::-webkit-scrollbar {
    width: 8px;     /* Scroll size in vertical */
    height: 8px;    /* Scroll size in horizontal */
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .4);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 0, .6);
}


.nowrap {
	white-space: nowrap;
}

.container {
	margin: 0 auto;
	width: calc(100% - 40px);
	@include index.m {
		width: calc(100% - 104px);
	}
	@include index.l {
		width: 960px;
	}
	@include index.xl {
		width: 1280px;
	}
	@include index.xxl {
		width: 1400px;
	}
}

.d-mobile {
	@include index.l {
		display: none !important;
	}
}

.d-desktop {
	display: none !important;
	@include index.l {
		display: block !important;
	}
}


.image--fluid {
	max-width: 100%;
	height: auto;
}

.no--border {
	border: none;
}

#resolution {
	position: fixed;
	top: 0;
	right: 50px;
	color: #ffffff;
	background: #000000;
	padding: 5px 10px;
	z-index: 999999;
}