// Line height
$lh: 26px;

// Colors
$white: #ffffff;
$black: #2F2F2F;
$primary: #FFCC6D;
$primary-dark: #E8B14C;
$secondary: #E8B14C;
$text: #2F2F2F;
$soft-gray: #F8F2ED;
$primary-macollo: #76000B;
$primary-macollo-dark: #63010A;

// Fonts
$cormorant: 'Cormorant Garamond', sans-serif;
$matter: 'Matter', sans-serif;
$ooohbaby: 'Oooh Baby', sans-serif;
$scheherazade: 'Scheherazade New', sans-serif;