// Line height
$lh: 26px;

// Colors
$white: #ffffff;
$black: #000000;
$gray: #4B4B4B;
$text: #000000;
$soft-gray: #F5F5F5;

// Fonts
$font-primary: 'NeueHaasGroteskDisp Pro', sans-serif;
$font-primary-light: 'NeueHaasGroteskDisp Pro Lt', sans-serif;
$font-primary-medium: 'NeueHaasGroteskDisp Pro Md', sans-serif;