// Account
@use '../@config/index';

.account {

    // Link
    &__link {
        display: inline-block;
        position: relative;
        text-decoration: none;

        // &:hover {
        //     color: #ACACB1;
        // }

        &:hover::before {
            content: '';
            position: absolute;
            top: 16px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #838383;

            @include index.l {
                top: 18px;
            }
        }

    }

}