// Languages
@use '../@config/index';

.language-switcher {

    // Link -> GTranslate
    .glink:first-child {
        margin-right: calc( index.$lh / 3 );
    }

    // TranslatePress
    &__list {
        display: flex;
        align-items: center;
        gap: calc( index.$lh / 6 );
        margin: 0;
    }

    &__item {
        list-style: none;

        &.active {
            font-weight: bold;
        }
    }

    &__link {
        position: relative;

        &:hover {
            color: index.$gray;
        }

        &.active:before{
            content: '';
            position: absolute;
            top: 16px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #838383;
        }
    }

    &__span {
        text-transform: uppercase;
    }

}