@use '../@config/index';

// Logo
.logo {

    // Heading
    &__heading {
        font-size: 0;
        line-height: 1;
    }

    // Link
    &__link {
        display: inline-block;
        font-size: 0;
        line-height: 1;
    }

    // Image
    &__image {
        width: 120px;
        height: 11px;

        @include index.m {
            width: 152px;
            height: 14px;
        }

        @include index.l {
            width: 191px;
            height: 18px;
        }

    }

}